@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body 
{
    
    background-color: #fff8f0;
     scroll-behavior: smooth;
     font-family: "Poppins", sans-serif;
     
}

.navbar 
{
     background-color: #c9a6ff;
}

nav a 
{
    
    text-decoration: none;
    
}

.navbar-nav
{
    display: flex;
    justify-content:space-evenly;
    width: 100%;

}

.nav-link:hover
{
    color:black;
    transition: all 1s ease;
    transform: scale(1.4);

}

.nav-link
{
     color: white;
     

}

#home
{
     height: 100vh;
     text-align:center;
     align-content: center;
     padding-top: 70px; 
    
}

#logo
{
    height:50vh;
    padding-bottom: 50px;
}

#logo:hover
{
    transition: all 1s ease;
    transform: scale(1.2);
}

.hovereffect:hover
{
    transition: all 1s ease;
    transform: scale(1.2);
}

#aboutus
{
    min-height: 100vh;
    text-align: center;
    align-content: center;
    padding-top: 70px; 
}

#gallery
{
   min-height: 100vh;
    text-align: center;
    align-content: center; 
    padding-top: 70px;     
}

#contactus
{
    min-height: 100vh;
    padding-top: 70px; 
}

.infor
{
    text-align: center;
    margin-left: 10vw;
    margin-right: 10vw;
}

.formi
{
    width: 50vw;
    margin-left: 10vw;
    margin-bottom: 20vh;
    
}

@media (max-width: 576px) 
{
  .navbar-collapse 
  {
    text-align: center;
  }

  .navbar-nav 
  {
    width: 100%;
  }

  .navbar-nav .nav-item 
  {
    display: block;
    width: 100%;
  }

  .navbar-nav .nav-link 
  {
    padding: 10px 0;
  }
}